#tablero_BuscaBombas
{
    padding: 15px;
}

#tablero
{
    margin: 15px auto;
    background-color: #fdb3b3;
}

#contador
{
    margin: 15px auto 5px;
    border: 2px black solid;
    border-radius: 10px;
    width: 40px;
    height: 40px;

    background-color: #ffaa9b;
}

.casillero
{
    border: 2px #ce4f00 solid;
    border-radius: 6px;
    color: #0000a3;
    font: {
        size: 18px;
        family: 'Calibri';
        weight: bolder;
    }
    user-select: none;
}

.oculto
{
    background-color: #ffe242;
}

.bloqueado
{
    background-color: #be0e0e;

    &.bomba{
        background-color: #6c2a00;
    }
}

.tocado
{
    background-color: beige;
}

.bomba
{
    background: {
        color: blueviolet;
        image: url(../imagenes/BuscaBombas/touched.png);
        size: contain;
        repeat: no-repeat;
        position: center center;
    }
}

#codigo_buscabombas
{
    width: 50%;

    float: right;
}

#buscabombas
{
    width: 40%;

    float: left;
}
