#form_contacto
{
    input{
        padding: 2px 8px;

        &[type="text"]{
            width: 40%;
            margin: 26px 50px 0;
        }

        &[type="email"]{
            width: 100%;
        }

        &[type="submit"]{
            display: block;
            width: 12%;
            margin: 20px 50px;
            padding: 7px 10px;
        }
    }

    textarea{
        padding: 2px 8px;
        width: 52%;
        margin: 20px 50px 0;
    }
}

#cont_email
{
    width: 60%;
    margin: 20px 50px 0;
}

#aclaracion
{
    margin-top: 3px;
    font-family: 'Arial', sans-serif;
    font-size: 70%;
    text-align: justify;
}