*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

html
{
    background-color: #666;
}

body
{
    position: relative;

    width: 80%;
    max-width: 1200px;
    margin: auto;

    background: linear-gradient(135deg, white 500px, $fondo_claro_clr 1000px);
}

@media screen and (min-width: 1601px)
{
    body
    {
        font-size: 18px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1600px)
{
    body
    {
        font-size: 16px;
    }
}

@media screen and (min-width: 841px) and (max-width: 1200px)
{
    body
    {
        font-size: 14px;
    }
}

header
{
    min-height: 110px;
    padding-top: 40px;

    user-select: none;
    background: linear-gradient(35deg, #c293ec 40%, beige 100% );
    border: 1px solid $bordes_suaves_clr;

    img{
        display: block;
        margin: 0 auto 15px;
        width: 94%;
    }
}

h1
{
    margin: {
        left: 10%;
        bottom: 18px;
    }

    font: {
        family: 'Comfortaa', cursive;
        weight: bold;
        size: 280%;
        variant: small-caps;
    }

    letter-spacing: 4px;
    text-shadow: 3px 3px 2px #555;
}

h2
{
    margin-left: 20%;
    font: {
        family: 'Cantarell', sans-serif;
        size: 140%;    
    }
    color: white;
    text-shadow: 2px 2px 1px darkorange, -1px -1px 1px black;
    letter-spacing: 2px;
}

h3
{
    margin: 26px 15px;
    font: {
        family: 'Comfortaa', cursive;
        weight: bold;
        size: 200%;
        variant: small-caps;
    }
    color: $detalles_2_clr;
    letter-spacing: 1px;
}

h4
{
    margin: 50px 20px 16px;
    font: {
        family: 'Comfortaa', cursive;
        weight: bold;
        size: 130%;
        variant: small-caps;
    }
    color: $detalles_1_clr;
    letter-spacing: 1px;
}

h5
{
    display: flex;
    justify-content: center;
    margin: 16px;
    padding-bottom: 10px;
    font: {
        family: 'Arial', sans-serif;
        size: 130%;
    }
    color: black;
    border-bottom: 1px solid black;
}

h5 span
{
    margin-right: 10px;
}

.material-icons
{
    vertical-align: middle;
    font-size: 10px;
}

#contenedor_princ
{
    position: relative;
    min-height: 400px;
    margin: 120px 4% 10px 22%;
}

#img_portada
{
    display: block;
    margin: 0px auto 0;
    width: 96%;
}
