p.publicaciones
{
    margin: 10px 0;

    font: {
        family: 'Cantarell', sans-serif;
        size: 120%;
    }
    text: {
        align: justify;
        indent: 40px;
    }
    line-height: 1.4;
}

.fichas_t
{
    float: right;
    margin: 0px 0px 20px 20px;
    padding: 8px;
    width: 40%;

    font: {
        family: 'Arial', sans-serif;
        size: 95%;
    }

    border: 3px solid $bordes_suaves_clr;
    background-color: #ebffd4;
    box-shadow: 2px 2px 3px $bordes_suaves_clr;
    
    ul{
        list-style: none;
        line-height: 1.8;
    }

    a{
        color: blue;
    }

    .material-icons{
        font-size: 130%;
    }
}

span.imagenes
{
    margin: 20px;
    margin-bottom: 10px;
    padding: 4px;

    box-shadow: 0 0 3px 2px $detalles_2_masclr;

    font: {
        size: 70%;
        family: 'Arial', sans-serif;
    }
    text: {
        align: center;
        indent: 0;
    }
    cursor: pointer;

    transition: filter 0.3s ease-in, width 0.3s linear;

    &:hover{
        filter: sepia(90%);
    }
}

.imagenes.expand
{
    width: 96% !important;

    filter: none !important;
}

ul.publicaciones
{
    margin: 10px 0 10px 18px;

    font: {
        family: 'Cantarell', sans-serif;
        size: 120%;
    }
    text-align: justify;
    list-style-position: outside;

    li{
        margin-bottom: 16px;
        padding-left: 30px;
    }
}

span.subtitulos
{
    font-weight: bold;
    text-decoration: underline;
}

#cont_details
{
    text-align: right;
}

details.publicaciones
{
    display: inline-block;

    margin: 16px;
    padding: 6px;

    font-family: 'Arial', sans-serif;
    user-select: none;
    text-align: left;
    cursor: pointer;

    background-color: #aaa;
    border: 2px dotted black;

    &:hover{
        background-color: #888;
    }

    summary{
        font-size: 94%;
        font-weight: bold;
    }

    p, a{
        margin: 5px;
        font-size: 90%;
        color: #00a;
    }
}

.publicaciones img
{
    width: 100%;
}

.enlace_publ
{
    color: #99581c;
    cursor: pointer;

    &:hover{
        color: $detalles_2_masclr;
    }
}