#salida_lp
{
    width: 50%;

    float: left;
}

#llamada_lp
{
    width: 32%;

    float: right;
}

#recursion_lp
{
    width: 50%;

    float: left;
}

#operaciones_lp
{
    width: 30%;

    float: right;
}

#regex_lp
{
    width: 50%;

    float: right;
}
