#menu_superior
{
    float: right;
    display: flex;
    justify-content: flex-end;
    width: 83%;
    box-sizing: border-box;

    border: 1px solid $bordes_suaves_clr;
    background-color: #9c50e8;
}

.botones_seccion
{
    float: left;
    padding: 10px 20px;
    box-sizing: border-box;

    font: {
        family: 'Comfortaa', cursive;
        weight: bold;
        size: 94%;
    }
    color: white;
    text: {
        shadow: 1px 1px 1px black;
        align: center;
    }
    user-select: none;
    cursor: pointer;

    border-left: 1px solid $bordes_suaves_clr;

    &:hover{
        background-color: #8c40d8;
    }
}

#boton_articulos
{
    position: relative;

    :hover{
        #cont_artic{
            display: block;
        }
    } 
}

#cont_artic
{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;

    width: 220%;

    border: 1px groove $bordes_suaves_clr;
    border-bottom: none;

    background-color: white;
}

.articulos
{
    width: 100%;
    padding: 8px 18px;
    box-sizing: border-box;

    font: {
        family: 'Cantarell', sans-serif;
        size: 100%;
    }
    color: black;
    text-shadow: none;
    user-select: none;
    cursor: pointer;

    border-bottom: 1px groove $bordes_suaves_clr;

    &:hover{
        background-color: #ddd;
    }
}