#linea_blog
{
    width: 44%;
    padding: 14px;
    padding-bottom: 8px;

    float: left;
}

#linea_blog img
{
    margin-bottom: 12px;
}

#codigo_menulateral
{
    width: 46%;

    float: right;
}

#responsive_mb
{
    width: 26%;

    float: right;
}
