#logo_blog
{
    width: 26%;
    padding: 14px;
    padding-bottom: 8px;

    float: right;
}

#objetos_entr
{
    width: 24%;

    float: right;
}

#responsive_mb
{
    width: 26%;

    float: right;
}
